body { background: #2b7444; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-config-0 { color: #9f8e3; font-size: 18px; margin-bottom: 5px; }
.block-payment-1 { color: #ca501; font-size: 19px; margin-bottom: 5px; }
.block-email-2 { color: #6dd2c9; font-size: 12px; margin-bottom: 5px; }
.block-notify-3 { color: #36d5fd; font-size: 14px; margin-bottom: 5px; }
.block-token-4 { color: #80666; font-size: 13px; margin-bottom: 5px; }
.block-payment-5 { color: #24ed1e; font-size: 21px; margin-bottom: 5px; }
.block-order-6 { color: #794f08; font-size: 12px; margin-bottom: 5px; }